
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono{
  font-family: "Roboto Mono", monospace;
}

.karla {
  font-family: "Karla", sans-serif;
}

body {
  background-image: url('images/Sfondo_cover2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "karla", sans-serif; /* Font del corpo della pagina */
}



#PORT,#FOLIO {
  font-size: 6.5rem;
  font-weight: 300; 

}

#nome {
  font-size: 4.5rem;
  font-weight: 300;
}

h2 {
  font-size: 3rem; 
  font-style: italic;
  letter-spacing: 0.4rem;
}


p {
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}








/* Imposta lo stile di base per il corpo della pagina 
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: transparent; correggilo  
}


/* Stile per la sezione cover */


.service-description {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #000;
}



h3 {
  font-family:"Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* 
h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 6.5rem; 
  font-style: italic; 
  font-weight: 400;
} */

/* Stili specifici per schermi più piccoli (mobile) */
@media (max-width: 767px) {
  h3 {
    font-size: 3rem; /* Dimensione per mobile */
  }
}

