/* Imposta lo stile di base per il corpo della pagina */
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: transparent; correggilo  
}

/* Stile per la barra di navigazione */
.navbar {
  background-color: transparent;
  padding: 1rem 0;
  border-bottom: none;
  margin: 0 3.75rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 400;
}

.navbar-brand {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

/* Stile per la sezione cover */
#cover {
  background-image: url('images/Sfondo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Usa min-height invece di height */
  padding: 0 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%; /* Assicurati che occupi tutta la larghezza */
}

.service-description {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #000;
}

.portfolio-title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  color: #000;
}

.port-title {
  font-size: 8rem;
  font-weight: 100;
}

.folio-title {
  font-size: 7rem;
  font-weight: 100;
}

.federica-text {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #000;
  margin-top: 2rem;
}

/* Stile per la sezione Foto Personale */
#foto-personale {
  padding: 0;
  margin: 0;
}

/* Immagine della sezione Foto Personale */
.foto-personale {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Stile per la sezione Progetti */
#progetti {
  padding: 0 12px;
}

#progetti img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Griglia delle immagini dei progetti */
@media (min-width: 768px) {
  #progetti .row {
    display: flex;
    flex-wrap: wrap;
  }

  #progetti .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #progetti img {
    width: 100%;
  }
}

/* Sezione Formazione ed Esperienza */
.formazione {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.dettagli-formazione {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 1rem;
  text-align: justify;
  margin-top: 1rem;
}

/* Allineamento specifico per la formazione e l'esperienza */
.text-md-end {
  text-align: right !important;
}

.text-md-start {
  text-align: left !important;
}

/* Stile per mobile */
@media (max-width: 767.98px) {
  .portfolio-title {
    font-size: 6.5rem;
    width: 100%;
    text-align: left;
  }

  .federica-text {
    font-size: 3rem;
  }

  #cover {
    text-align: left;
  }

  .formazione {
    font-size: 2.5rem;
    width: 100%;
    margin-top: 2rem;
  }

  .dettagli-formazione {
    font-size: 1rem;
    width: 100%;
  }

  #progetti img {
    width: 50%;
    margin: 0 auto;
  }

  .text-md-end, .text-md-start {
    text-align: center !important;
  }
}

/* Stile per desktop */

@media (min-width: 768px) {
  #cover {
    background-image: url('images/Sfondo\ D.svg');
    background-position: center;
    height: auto;
    padding: 0 3.75rem;
  }

  .federica-text {
    text-align: left;
  }

  .port-title {
    font-size: 8rem;
  }

  .folio-title {
    font-size: 7rem;
  }

  
  #foto-personale {
    width: 50%;
    margin: 0; /* Rimuove margini aggiuntivi */
    padding: 0; /* Rimuove padding se presente */
  }
  
  .foto-personale {
    width: 100%;
    height: auto; /* Mantiene le proporzioni */
  }
}
  
  .text-md-end {
    text-align: right !important;
  }

  .text-md-start {
    text-align: left !important;
  }

  #progetti img {
    width: 100%;
    height: auto;

  }
