html {
  font-size: 1rem; 
  margin-left: 0.75rem; 
  margin-right: 0.75rem;
  margin-bottom: 1.5rem; 
}

body {
  background-image: url('images/SFONDO\ PROVA\ 1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "karla", sans-serif; /* Font del corpo della pagina */
  font-weight: 300; /* Peso del font per il corpo della pagina */
  font-style: normal; /* Stile del font (normale) */
  color: #000000; /* Colore del testo del corpo della pagina */
}

#cover {
  min-height: 100vh; /* Usa min-height invece di height */
  padding: 0 12px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;  /*Assicurati che occupi tutta la larghezza */ 
}


h1 .roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000
}

h2 .roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000
}


h3 .karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #000000
}

h4 .roboto-mono {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000000
}

h5 .karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #000000
}

h1 {
  font-size: 8rem; 
  text-align: left; 
  color: #000000; /* Colore del testo */
  padding-top: 4rem; /* Spazio sopra l'elemento */
}

h2 {
  font-size: 6.5rem; 
  font-style: italic;
  text-align: left; 
  letter-spacing: 0.4rem;
  color: #000000; /* Colore del testo */
  padding-top: 4rem; /* Spazio sopra l'elemento */
}


p {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1.5rem;
}








/* Imposta lo stile di base per il corpo della pagina 
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: transparent; correggilo  
}

/* Stile per la barra di navigazione */
.navbar {
  background-color: transparent;
  padding: 1rem 0;
  border-bottom: none;
  margin: 0 3.75rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: #000;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 400;
}

.navbar-brand {
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

/* Stile per la sezione cover */


.service-description {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #000;
}




.federica-text {
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #000;
  margin-top: 2rem;
}

/* Stile per la sezione Foto Personale */
#foto-personale {
  padding: 0;
  margin: 0;
}

/* Immagine della sezione Foto Personale */
.foto-personale {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Stile per la sezione Progetti */
#progetti {
  padding: 0 12px;
}

#progetti img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}





h3 {
  font-family:"Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

/* Stili di base per h3 */
h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 6.5rem; /* Dimensione per desktop */
  font-style: italic; /* Imposta il testo in corsivo */
  font-weight: 400; /* Peso del font (normal) */
}

/* Stili specifici per schermi più piccoli (mobile) */
@media (max-width: 767px) {
  h3 {
    font-size: 3rem; /* Dimensione per mobile */
  }
}


/* Stile per mobile */
@media (max-width: 767.98px) {
  .portfolio-title {
    font-size: 6.5rem;
    width: 100%;
    text-align: left;
  }

  .federica-text {
    font-size: 3rem;
  }

  #cover {
    text-align: left;
  }

  .formazione {
    font-size: 2.5rem;
    width: 100%;
    margin-top: 2rem;
  }

  .dettagli-formazione {
    font-size: 1rem;
    width: 100%;
  }

  #progetti img {
    width: 50%;
    margin: 0 auto;
  }

  .text-md-end, .text-md-start {
    text-align: center !important;
  }
}

/* Stile per desktop */

@media (min-width: 768px) {
  #cover {
    background-image: url('images/SFONDO\ PROVA\ 1.svg');
    background-position: center;
    height: auto;
    
  } 

  .federica-text {
    text-align: left;
  }

  .port-title {
    font-size: 8rem;
  }

  .folio-title {
    font-size: 7rem;
  }
}

  
  

